.sender
{
	float:left;
	clear: left;
	background-color: blue;
	min-height: 95%;
	max-height: 95%;
	min-width: 50%;
	max-width: 50%;
	padding-top: 1%;
}
.recieve
{
	float:left;
	clear: right;
	background-color: red;
	min-height: 95%;
	max-height: 95%;
	min-width: 50%;
	max-width: 50%;
	text-align: center;
	padding-top: 1%;
	overflow-y: auto;
}
.client
{
	margin-left: 25%;
	margin-right: 25%;
	background-color: grey;
}
.client button
{
	margin-left: 40%;
}
textarea{
	resize: none;
	min-width: 100%;
	min-height: 20%;
	max-height: 90%;
	width: auto;
	height: auto;
	overflow: auto;
}
.Connection
{
	text-align: middle;
	margin:0 auto;
}
.Sent
{
	color: black;
	text-align: right;
}
.Recieved
{
	color:white;
	text-align: left;
}
body
{
	background-color: gold;
	font-family: Times, Arial, sans-serif;
}
#Messages
{
	color: white;
	background-color: black;
	padding: 1%;
}